*{
background-color: rgb(219, 255, 247);
margin-top: 20px;

}


form{
   font-size: 20px;
    
}
.titulo-section{
font-size: 40px;
text-align: center;
}

.enviar{
    font-size: 20px;
}
.opiniao{
    font-size: 15px;
}
.obs {
font-size: 20px;
}

.arroz{
    font-size: 40px;
}

a{
    text-decoration: none;
font-size: 20px;
}








